// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

// Icons
@import "~/@fortawesome/fontawesome-free/scss/fontawesome";
@import "~/@fortawesome/fontawesome-free/scss/solid";

// Datatable
@import "~/datatables.net-bs5/css/dataTables.bootstrap5.min";

// Vue select
@import "vue-select/dist/vue-select.css";

@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Jersey+25+Charted&family=Poetsen+One&display=swap");

// variables
:root {
  --white: white;
  --red: red;
  --yellow: yellow;
  --black: black;
  --green: green;
  --green-btn: rgb(63, 168, 117);
  --bg-dark: rgb(58, 56, 56);
  --bg-row-table: rgba(89, 89, 91, 0.836);
  --bg-table: rgba(58, 58, 59, 0.711);
  --gray-custom: #2e2e2e; //inputs
  --gray-custom-dark: #262424; //inputs
  --bg-input: rgb(58, 58, 58);
  --hover-card: rgb(72, 70, 70);
}

.card_size {
  width: 14rem;
  cursor: pointer;
}
.bg-custom-table {
  background-color: var(--bg-table) !important;
}
.bg-custom-row:nth-child(2n + 1) {
  background-color: var(--bg-row-table);
  border-collapse: separate; /* Add this line */
}
.item-menu {
  :hover {
    background-color: var(--bg-table);
  }
}
// custom buttons
.btn-custom {
  border: var(--white);
  background-color: var(--green-btn);
  color: var(--white);
  &:hover {
    filter: brightness(1px);
    svg,
    span {
      transition: 0.5s;
      transform: translateY(-2px);
    }
  }
}
.bg-dark {
  background-color: var(--bg-dark);
}
.bg-table {
  background-color: var(--bg-table);
  color: var(--white);
}
.text-white {
  color: var(--white);
}
.text-red {
  color: var(--red);
}
.text-green {
  color: var(--green);
}
.text-yellow {
  color: var(--yellow);
}

.countCartItem {
    z-index: 1;
    // transform: translateY(-15px);
    transform: translate(-10px, -15px);
    position: absolute;
    background-color: #008000;
    font-weight: bold;
    font-size: 1em;
    clip-path: circle();
    width: 15px;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.disbled-style {
  outline: none;
  border: 0;
}

.bg-input {
  background-color: var(--bg-input);
  color: var(--white);
  // Estilos para cuando se aplica el autocompletado en WebKit
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    background-color: var(--bg-input);
    -webkit-text-fill-color: #000; // Color del texto en el autocompletado
  }

  &:hover:-webkit-autofill,
  &:focus:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    background-color: var(--bg-input);
  }
}

.bg-input::placeholder {
  background-color: var(--bg-input);
  color: var(--white);
}

.hover-card {
  &:hover {
    background-color: var(--hover-card);
    border: solid 1px rgb(96, 95, 95);
    box-sizing: border-box;
  }
}

// tabla personalizada carrito de compras
#cartTable {
  td,
  th {
    // text-align: center;
  }
}

//   editando datatables de vue
.vs__selected-options,
.vs__dropdown-toggle,
.vs__search,
.vs__selected {
  background-color: var(--bg-dark);
  color: var(--white);
}
/* Estilo para el input de búsqueda */
.dataTables_wrapper .dataTables_filter input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  background-color: var(--bg-dark);
  color: var(--white);
}
/* Estilo para el paginador */
.dataTables_wrapper .dataTables_paginate {
  background-color: var(--bg-dark);
  margin-top: 10px;
  text-align: center;
}

/* Estilo para los botones de paginación */
.dataTables_wrapper .dataTables_paginate .paginate_button {
  background-color: var(--bg-dark);
  color: var(--white);
  border: none;
  padding: 5px 10px;
  margin: 0 2px;
  border-radius: 3px;
}

/* Ejemplo de color de fondo diferente para el botón activo */
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background-color: var(--bg-table);
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: var(--bg-dark);
}
.paginate_button a {
  background-color: var(--bg-dark);
  color: var(--white);
}
/*texto "Buscar" al lado del input */
.dataTables_wrapper .dataTables_filter label {
  font-weight: bold;
}

// input y select de formularios

.form-select {
  color: var(--white);
  background-color: var(--bg-dark);
}
.custom-btn-dark {
  background-color: var(--gray-custom);
  color: var(--white);
  select {
    background-color: var(--gray-custom);
    option {
      background-color: var(--gray-custom);
    }
  }
  input[type="file"] {
    background-color: var(--gray-custom);
  }
  :focus {
    background-color: var(--gray-custom);
  }
  ::placeholder {
    color: var(--white);
  }
}

body {
  color: var(--white);
  background-color: var(--bg-dark) !important;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: normal;
}
